.auth-input {
  --padding-start: 16px;
  --padding-end: 16px;
  --inner-padding-end: 0;
  --min-height: 52px;
}

ion-button.ion-button--red {
  --background: #d13e3b;
  --background-hover: #b83533;
  --background-activated: #a02f2d;
  --color: #f8f2e4;
}
