ion-toolbar.auth-toolbar {
  --color: #22374f;
  --background: #f8f2e4;
}

.auth-inner {
  color: #22374f;
}

.auth-input {
  --padding-start: 16px;
  --padding-end: 16px;
  --inner-padding-end: 0;
  --min-height: 52px;
}

.auth-inner ion-input {
  --color: #22374f;
  --placeholder-color: rgba(34, 55, 79, 0.5);
}

.auth-link {
  color: #e8a09e;
}

ion-button.ion-button--red {
  --background: #d13e3b;
  --background-hover: #b83533;
  --background-activated: #a02f2d;
  --color: #f8f5ed;
}
