// Dark text for readability on cream background
.welcome-text {
  color: #2e4456;
}

ion-button.ion-button--red {
  --background: #d43b35;
  --background-hover: #bb3430;
  --background-activated: #a02f2d;
  --color: #ffffff;
}

ion-button.ion-button--outline-light {
  --border-color: #2e4456;
  --color: #2e4456;
  --background-hover: rgba(46, 68, 86, 0.08);
  --background-activated: rgba(46, 68, 86, 0.12);
}
