ion-button.ion-button--red {
  --background: #d13e3b;
  --background-hover: #b83533;
  --background-activated: #a02f2d;
  --color: #f8f2e4;
}

ion-button.ion-button--outline-navy {
  --border-color: #22374f;
  --color: #22374f;
  --background-hover: rgba(34, 55, 79, 0.08);
  --background-activated: rgba(34, 55, 79, 0.12);
}
