// Dark text for readability on cream background
.welcome-text {
  color: #22374f;
}

ion-button.ion-button--red {
  --background: #d13e3b;
  --background-hover: #b83533;
  --background-activated: #a02f2d;
  --color: #f8f5ed;
}

ion-button.ion-button--outline-light {
  --border-color: #22374f;
  --color: #22374f;
  --background-hover: rgba(34, 55, 79, 0.08);
  --background-activated: rgba(34, 55, 79, 0.12);
}
