// Same as global .app-text for consistency
.welcome-text {
  color: #f8f5ed;
}

ion-button.ion-button--red {
  --background: #d13e3b;
  --background-hover: #b83533;
  --background-activated: #a02f2d;
  --color: #f8f5ed;
}

ion-button.ion-button--outline-light {
  --border-color: #f8f5ed;
  --color: #f8f5ed;
  --background-hover: rgba(248, 245, 237, 0.1);
  --background-activated: rgba(248, 245, 237, 0.15);
}
